In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('cbc.csv')

In [4]:
print(df.head())  # Shows the first few rows
print(df.info())  # Provides a summary of the DataFrame, including data types and missing values
print(df.describe())  # Generates summary statistics for numerical columns

                 Name  Age  Province     Status
0     Abigail Andrews   28        BC    Missing
1           Ada Brown   41       N/A   Murdered
2  Aielah Saric-Auger   14        BC   Murdered
3    Alannah Cardinal   20        AB   Murdered
4    Alberta Williams   24        BC   Murdered
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307 entries, 0 to 306
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       307 non-null    object
 1    Age       307 non-null    object
 2    Province  307 non-null    object
 3    Status    307 non-null    object
dtypes: object(4)
memory usage: 9.7+ KB
None
                   Name  Age  Province     Status
count               307  307       307        307
unique              307   59        13          2
top     Abigail Andrews   20        BC   Murdered
freq                  1   17        74        191

In [10]:
df[['First-Name', 'Last-Name']] = df['Name'].str.split(' ', 1)

TypeError: StringMethods.split() takes from 1 to 2 positional arguments but 3 were given